extends layout
block tabContainer
    #resume-tabs.container
        .row
            .col
                #work-experience-tab.resume-sub-tab
                    a(href="")
                        span.tab-text-format Work Experience
            .col
                #skills-tab.resume-sub-tab
                    a(href="")
                        span.tab-text-format Skills
            .col
                #leadership-tab.resume-sub-tab
                    a(href="")
                        span.tab-text-format Leadership
            .col
                #honors-and-awards-tab.resume-sub-tab
                    a(href="")
                        span.tab-text-format Honors and Awards
    .container
        #work-experience-section.general-resume-formatting
            ul
                each workExp in workExperience
                    h4= workExp.title
                    span.timeline= workExp.date
                    li= workExp.experience
        #skills-section.general-resume-formatting.hidden
            ul
                each skill in skills
                    li
                        span.skillHighlight= skill.title
                        ul
                            if (skill.body)
                                each skillInfo in skill.body
                                    li#nestedList - #{skillInfo}
                            
        #leadership-section.general-resume-formatting.hidden
            ul
                each leadershipElem in leadership
                    span.timeline= leadershipElem.date
                    li <span id="leadershipTitle">#{leadershipElem.title}</span> - Position: <span id="leadershipPosition">#{leadershipElem.position}</span> - #{leadershipElem.description}

        #honors-and-awards-section.general-resume-formatting.hidden
            ul
                each honorAndAward in honorsAndAwards
                    span.timeline= honorAndAward.date
                    li= honorAndAward.title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="ResumeScript.js")
